@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
    font-family: 'Poppins', sans-serif;
}

.dmsans {
    font-family: 'DM Sans', sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    color: #444444;
}

.navbar-brand img {
    height: 28.5px;
}

.navbar {
    padding: 30px 0;
    background-color: #ffffff !important;
}

span {
    line-height: 1.3;
}

.nav-link {
    font-size: 20px;
    color: #222222;
    padding: 8px 0 !important;
}

.nav-link:hover {
    color: #EC1D77;
}

.navbar-nav {
    gap: 40px;
    align-items: center;
}

.gap-10px {
    gap: 10px;
}

.btn-primary {
    border-radius: 100px;
    padding: 13px 28px;
    font-size: 20px;
    background-image: linear-gradient(to right, #EC1D77, #FF737A);
    border-color: transparent !important;
}

.text-grad {
    background: #EC1D77;
    /* Fallback color */
    background: linear-gradient(to right, #EC1D77, #FF737A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-dark {
    color: #222222 !important;
}

.hh-subtitle {
    font-size: 40px;
}

.hh-text {
    font-size: 24px;
}

.hh-title {
    font-size: 110px;
    line-height: 1;
}

.hh-title span {
    line-height: 1;
}

.hh-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 690px;
}

.navbar-toggler {
    padding: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url(../img/menu-icon.svg);
    height: 24px;
    width: 24px;
}

.navbar-brand {
    padding: 0 !important;
}

.hh-circle {
    position: absolute;
}

.hhc-1 {
    height: 55px;
    width: auto;
    left: 55px;
    top: -70px;
}

.hhc-2 {
    height: 39px;
    width: auto;
    left: 50%;
    bottom: 50px;
}

.hhc-3 {
    height: 21px;
    width: auto;
    right: 0%;
    bottom: 150px;
}

.bl-img {
    height: 52px !important;
    width: auto !important;
    max-width: 100% !important;
    vertical-align: middle;
}

.logos-sec {
    background-image: linear-gradient(to right, #EC1D77, #FF737A);
}

.brand-logos .slick-slide>div {
    text-align: center;
    padding: 0 8px;
}

.sec-small {
    font-size: 20px;
    color: #EC1D77;
}

.page-title {
    font-size: 48px;
    line-height: 130%;
}

.sec-title {
    line-height: 125%;
    font-size: 44px;
}

.s2-desc {
    font-size: 20px;
}

.s2-ellipse {
    position: absolute;
    height: 95px;
    top: 0;
    right: 40px;
    transform: translateY(-70px);
}

.s2-img {
    max-width: 500px;
}

.sec-3 {
    background-color: rgba(236, 29, 119, 0.05);
}

.fw-extrabold {
    font-weight: 800;
}

.sb-img {
    border-radius: 20px;
    height: 375px;
    width: 360px;
    overflow: hidden;
}

.sb-content {
    border-radius: 20px;
    padding: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 62.5%;
    background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.0001), rgba(34, 34, 34, 1));
}

.sb-title {
    margin-bottom: 2px;
    font-size: 24px;
}

.sb-text {
    font-size: 12px;
}

.services-flex {
    gap: 60px;
}

.counts-sec {
    background-image: linear-gradient(to right, rgba(236, 29, 119, 0.9), rgba(255, 115, 122, 0.9)), url(../img/counts-bg.png);
    background-size: auto 100%;
    background-position: center;
    padding: 70px 0;
}

.counts-flex {
    flex-wrap: wrap;
    gap: 90px;
}

.cs-title {
    font-size: 70px;
}

.why-sec {
    padding: 100px 0;
}

.ws-ellipse {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 55px;
}

.ws-flex {
    gap: 40px;
}

.ws-content {
    width: 285px;
}

.ws-title {
    font-size: 24px;
    font-weight: 700;
}

.ws-text {
    font-size: 12px;
}

.ts-bottom-img {
    width: 975px;
}

.ts-top-img {
    width: 835px;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.ts-slide {
    max-width: 800px;
    margin: 0 auto;
}

.ts-user-img {
    height: 132px;
    width: 132px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    border: 3px solid #ffffff;
    box-shadow: 0 29px 23px rgba(92, 14, 98, 0.08);
}

.ts-user-name {
    font-size: 30px;
    color: #EC1D77;
    line-height: 130%;
}

.ts-user-review {
    font-size: 18px;
    color: #3C3C3F;
}

.testimonials-slider {
    max-width: 100%;
}

.testimonials-slider .slick-track {
    display: flex;
    align-items: center;
}

.testimonials-slider .slick-slide>div {
    text-align: center;
}

.ts-dots .slick-dots {
    position: static;
    display: flex;
    align-items: center;
    gap: 20px;
}

.ts-dots .slick-dots li {
    height: 9.5px;
    width: 33px;
    border-radius: 100px;
    background-color: rgba(231, 231, 231, 1);
}

.ts-dots .slick-dots li.slick-active {
    background-color: #EC1D77;
}

.ts-dots .slick-dots li button{
    display: none;
}

.contact-sec{
    background-color: #222222;
}

.contact-sec .sec-title{
    line-height: 130%;
}


.footer-links{
    gap: 12px;
}

.footer-links a{
    color: #444444;
    text-decoration: none;
}

.footer-btn{
    box-shadow: none !important;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}
.footer-inp{
    width: 251px;
    border-radius: 100px;
    border: 1px solid #222222;
    padding: 12px 24px;
    color: #222222;
}

.footer-inp::placeholder{
    color: #444444;
}
.footer-btn img{
    height: 26px;
    width: 26px;
}

.social-links{
    gap: 32px;
}

.ip-title{
    text-align: center;
    font-size: 60px;
    line-height: 120%;
    text-transform: capitalize;
}

.ip-title-sec{
    height: 565px;
    background-image: url(../img/hero-img-2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-text{
    font-size: 20px;
}

.ip-img-1{
    border-radius: 20px;
    width: 100%;
    width: 490px;
}

.ip-img-cont{
    width: 490px;
    max-width: 100%;
    flex-shrink: 0;
}

.ip-video{
    object-fit: cover;
    aspect-ratio: 12/7;
    width: 100%;
    border-radius: 20px;
}
.vpi-cont{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.vp-icon{
    height: 134px;
    width: 134px;
    border-radius: 1000px;
    cursor: pointer;
}

.ipf-group{
    width: calc(50% - 24px);
}

.ipf-inp{
    padding: 8px 0 !important;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Inter", sans-serif;
    color: #ffffff !important;
    font-size: 22px;
    background-color: transparent !important;
    border-radius: 0;
    box-shadow: none !important;
}
.ipf-inp::placeholder{
    color: #ffffff;
}

.ipf-textarea{
    width: 100%;
}

.how-flex-1{
    gap: 100px;
}
.hf-img-cont{
    max-width: 100%;
    width: 530px;
}

.hfc-title{
    font-size: 35px;
}
.hf-count{
    width: fit-content;
    height: 160px;
    margin-bottom: -60px;
}
.hfc-text{
    font-size: 24px;
}

.hf-content{
    width: 590px;
    max-width: 100%;
}
@media (min-width: 1200px) {
    .hh-img {
        height: auto;
        width: 400px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1224px !important;
    }

    .hh-img {
        height: 605px;
        width: auto;
    }
}

@media (max-width: 1400px){
    .hf-img-cont{
        width: 430px;
    }
}

@media (max-width: 1200px) {
    .hf-img-cont{
        width: 350px;
    }

    .hf-content{
        width: 530px;
    }
    .hh-img {
        height: auto;
        width: 450px;
    }

    .btn-primary {
        font-size: 18px;
        padding: 10px 20px;
    }

    .hh-subtitle {
        font-size: 24px;
    }

    .hh-text {
        font-size: 18px;
    }

    .hh-title {
        font-size: 60px;
    }

    .hh-content {
        max-width: 600px;
    }
}

@media (max-width: 992px) {

    .s2-ellipse {
        height: 62px;
        right: 30px;
        transform: translateY(-20px);
    }

    .hh-content {
        position: relative;
        transform: unset;
        top: unset;
        left: unset;
    }

    .navbar {
        padding: 24px 0;
    }

    .hhc-1 {
        height: 28px;
        left: 36px;
        top: -38px;
    }

    .hhc-2 {
        height: 27px;
        left: calc(90% - 27px);
        bottom: 60px;
    }

    .hhc-3 {
        display: none;
    }

    .navbar-nav {
        gap: 10px;
        align-items: start;
        padding: 24px 0;
    }

    .bl-img {
        height: 38px !important;
    }

    .page-title,
    .sec-title {
        font-size: 30px;
        line-height: 130%;
    }

    .s2-desc {
        font-size: 18px;
    }

    .hfc-text{
        font-size: 18px;
    }

}

@media (max-width: 768px) {

    .ws-content:nth-child(2n+2) {
        margin-left: auto;
    }

    .ts-user-review{
        font-size: 16px;
    }
    .foot-logo{
        margin-bottom: 20px;
        width: 100%;
    }

    .ff-divs{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .footer-flex{
        gap: 20px !important;
    }

    .ip-title{
        font-size: 40px;
    }
    .ip-title-sec{
        height: 360px;
    }

    .page-text{
        font-size: 18px;
    }

    .hf-count{
        height: 140px;
    }
    .vp-icon{
        height: 80px;
        width: 80px;
    }

    .ipf-group{
        width: 100%;
    }
}